<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
<%- partial('_partial/header') %>
<%- partial('_partial/mobile-header')%>
<div class="main">
    <div class="content-inner">
        <%- body %>
    </div>
</div>
<%- partial('_partial/social') %>
<canvas id="live2dcanvas" width="300" height="600" class="live2d"></canvas>
<%- live2d("live2dcanvas") %>
<style>
.live2d{
  position: fixed;
	bottom: -30px;
	right: 0px;
	z-index: 999;
	width: 260px;
	height: 500px;
  pointer-events: none;
}
</style>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<%- js('js/index.js') %>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.6/highlight.min.js"></script>
<script>
hljs.initHighlightingOnLoad();
<% if(theme.rabb.highlight.num) {%>
$('pre code').each(function(){
	var lines = $(this).text().split('\n').length - 1;
	var $numbering = $('<ul/>').addClass('pre-numbering');
	$(this)
	  .addClass('has-numbering')
	  .parent()
	  .append($numbering);
	for(i=1;i<=lines;i++){
	  $numbering.append($('<li/>').text(i));
	}
});
<% } %>
</script>
<% if(config.comment) {%>
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
	id: '<%- page.title %>',
	owner: '<%- config.comment.owner %>',
	repo: '<%- config.comment.repo %>',
	oauth: {
		client_id: '<%- config.comment.id %>',
		client_secret: '<%- config.comment.secret %>'
	}
});
gitment.render('comment-container');
</script>
<% } %>
</html>
