<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta name="description" content="<%= config.description %>" />
	<meta name="keywords" content="<%= config.keywords %>" />
    <title><%= config.title %></title>
    <%- css('css/style.css') %>
	<link rel="icon" href="<%= config.favicon %>">
	<% if(theme.rabb.highlight.css) {%>
	<link href="<%= theme.rabb.highlight.css %>" rel="stylesheet">
	<% } else{ %>
	<link href="https://cdn.bootcss.com/highlight.js/9.15.6/styles/tomorrow-night-eighties.min.css" rel="stylesheet">
	<% } %>
</head>